.slideshow {
    height: 35em;
    position: relative;
    /* transition: all .3 ease; */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.slider {
    color: white;
    background-color: rgba(35, 35, 35, 0.541);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1em;
}

.sliderInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderInfo h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: .7em;
}

.sliderInfo h4 {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: .7em;
    letter-spacing: .3em;
}

.sliderInfo button {
    padding: 1.5em 2.5em;
    font-size: .8rem;
    letter-spacing: .1em;
    color: white;
    background-color: rgb(255, 185, 79);
    border-radius: .2rem;
}

@media screen and (min-width: 768px) {
    .slider {
        padding: 0 3em;
    }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
    .slideshow {
        height: 100vh;
    }

    .slider {
        padding: 0 4em;
    }

    .sliderInfo h2 {
        padding: .2em 3em;
        margin-bottom: .4em;
        font-size: 7rem;
    }

    .sliderInfo h4 {
        font-size: 1.3rem;
    }

    .sliderInfo button {
        font-size: 1rem;
    }

    .arrow {
        font-size: 2rem;
    }
}

/* @media screen and (min-width: 1400px) {
} */