.dataContainer{
  margin-bottom: 6em;
}
.dataContainer button{
  margin-top: 3em;
}
.viewMenuButton {
  display: flex;
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3.5em;
  padding: 0 2em;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--gold)!important;
}
.viewMenuButton:hover {
  background-color: var(--white);
}
.firstRow td{
  border-top: none!important;
}

@media (min-width: 992px) {
  .column {
    float: left;
    width: 45%;
    padding:0;
    margin: 0;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  .column {
    flex: 50%;
    padding: 0;
  }
  .dataContainer button{
    margin-top: 8em;
  }
}